/* -------------------- RESET -------------------- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  display: flex;
  justify-content: center;
  background-image: url(resources/background-image.png);
  background-repeat: no-repeat;
}

/* -------------------- LAYOUT -------------------- */

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  text-align: center;
  color: white;
  margin: 2rem;
}

.title h2 {
  font-size: 1.8rem;
  font-weight: 500;
  letter-spacing: 1px;
}

.title p {
  background: black;
  color: white;
  padding: 2px 12px;
  border-radius: 12px;
  font-size: .9rem;
  text-transform: uppercase;
}

/* -------------------- CONTAINER -------------------- */

.container {
  display: flex;
  padding: 2rem;
  width: 1250px;
}

/* -------------------- LEFT SIDE (CART) -------------------- */
.purchase {
  width: 50%;
  background-color: hsl(0, 0%, 95%);
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.1rem;
}

.cart-item{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product-image {
  width: 20%;
  height: 90px;
  background-color: white;
  border-radius: .5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-image img {
  width: 60px;
  height: 80px;
  object-fit: contain;
}

.product-info {
  flex: 1;
  margin-left: 1rem;
}

.product-info h3, .product-price .price{
  font-size: .965rem;
  font-weight: 700;
  color: #111827;
}

.product-info h3 {
  margin-bottom: .2rem;
}

.product-info .color {
  color: #313436;
  font-size: .965rem;
  font-weight: 500;
}

.product-info .quantity{
  color: #313436;
  font-size: 1rem;
  margin-top: 1.7rem;
}

.product-price {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
}

.product-price .remove {
  font-size: 1.5rem;
}

hr {
  border: 1px solid rgb(221, 221, 221);
}

/* -------------------- COUPON + TOTAL -------------------- */
.product-total {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.product-total .coupon-container {
  display: flex;
  gap: .5rem;
}

.product-total .coupon-input{
  flex: 1;
  padding: 0.8em;
  border: 1px solid rgb(221, 217, 217);
  border-radius: .5rem;
  outline: none;
  font-size: .9rem;
}

.product-total .coupon-btn {
  background-color: black;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: .5rem;
  cursor: pointer;
  font-weight: 500;
}

.total-price {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: .5rem;
}

.total-price .name-price {
  display: flex;
  justify-content: space-between;
  color: #5f666b;
  font-size: .8rem;
  font-weight: 500;
}

.name-price .total, .name-price .price-total, .price {
  font-size: 1rem;
  color: black;
}

.price {
  color: #5f666b;
}

/* -------------------- RIGHT SIDE (FORM) -------------------- */

.contact-form {
  width: 50%;
  background-color: white;
  display: flex;
  flex-direction: column;
  padding: 1.5rem 2rem;
  gap: .6rem;
  box-shadow: 1px 3px rgba(0, 0, 0, 0.02);
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

.contact-form h3 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 1rem;
}

label {
  font-size: .9rem;
  color: rgb(46, 42, 42);
  font-weight: 500;
  margin-bottom: 3px;
  display: block;
}

input, select {
  width: 100%;
  padding: .8rem;
  border-radius: .5rem;
  border: 1px solid rgb(221, 217, 217);
  margin-bottom: .5rem;
  font-size: .9rem;
  font-weight: 600;
  color: #252527;
}

.row {
  display: flex;
  gap: 1rem;
}

.field {
  flex: 1;
}

.field label {
  margin-bottom: .5rem;
}

.continue-btn {
  background-color: black;
  padding: .8rem;
  color: white;
  border-radius: .5rem;
  font-size: 1rem;
  font-weight: 500;
  cursor: pointer;
  margin-top: 1rem;
}

/* -------------------- RESPONSIVE -------------------- */
@media (max-width: 412px) {
  body {
    background-image: url(resources/background-image@2x.png);
    background-position: -330px 0;
  }

  main {
    width: 100%;
  }

  .container {
    width: 700px;
    flex-direction: column;
  }

  .container .purchase {
    border-radius: 1rem;
  }
}
