/* Reset and base setup */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Color variables */
:root {

  --Light-red: hsl(0, 100%, 67%);
  --Orangey-yellow: hsl(39, 100%, 56%);
  --Green-teal: hsl(166, 100%, 37%);
  --Cobalt-blue: hsl(234, 85%, 45%);

  --Light-slate-blue-background: hsl(252, 100%, 67%);
  --Light-royal-blue-background: hsl(241, 81%, 54%);

  --Violet-blue-circle: hsla(256, 72%, 46%, 1);
  --Persian-blue-circle: hsla(241, 72%, 46%, 0);

  --White: hsl(0, 0%, 100%);
  --Pale-blue: hsl(221, 100%, 96%);
  --Light-lavender: hsl(241, 100%, 89%);
  --Dark-gray-blue: hsl(224, 30%, 27%);
}

/* Body layout and base font */
body {
  font-family: 'Hanken Grotesk', sans-serif;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--Pale-blue);
  font-size: 18px;
}

.container {
  display: flex;
  background-color: var(--White);
  border-radius: 2rem;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.253);
  justify-content: space-between;
  width: 600px;
}

/* 1 CARD */
.result {
  width: 50%;
  padding: 1.5rem 2rem ;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 2rem;
  background: linear-gradient(to bottom, var(--Light-slate-blue-background), var(--Light-royal-blue-background));
  border-radius: 2rem;
}

.result h3 {
  color: var(--Light-lavender);
  font-weight: 600;
  letter-spacing: 1px;
}

.result .score {
  width: 180px;
  height: 180px;
  border-radius: 50%;
  background: linear-gradient(to bottom, var(--Light-slate-blue-background), var(--Light-royal-blue-background));
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.result .score p {
  color: var(--White);
  font-size: 4rem;
  font-weight: 600;
}

.result .score b {
  color: var(--Light-lavender);
  font-size: .9rem;
}

.result .text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.result .text h2 {
  color: var(--White);
}

.result .text p {
  color: var(--Light-lavender);
  width: 200px;
  font-size: .9rem;
  padding-bottom: 1rem ;
  line-height: 1.3;
}

/* 2 Card */
.summary {
  width: 50%;
  padding: 1.5rem 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.summary h3 {
  color: black;
  font-weight: 800;
}

.summary .stats {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 1rem 0;
}

.summary .stats .row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem .5rem;
  border-radius: 1rem;
}

.summary .stats .row:nth-child(1) {
  background-color: hsl(0, 100%, 95%)
}

.summary .stats .row:nth-child(2) {
  background-color: hsl(39, 100%, 95%)
}

.summary .stats .row:nth-child(3) {
  background-color: hsl(166, 100%, 95%)
}

.summary .stats .row:nth-child(4) {
  background-color: hsl(234, 85%, 95%)
}

.stats .row .badge {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: .5rem;
}

.stats .row .badge b {
  font-size: 1rem;
  font-weight: 600;
}

.stats .row:nth-child(1) .badge b {
  color: var(--Light-red);
}

.stats .row:nth-child(2) .badge b {
  color: var(--Orangey-yellow);
}

.stats .row:nth-child(3) .badge b {
  color: var(--Green-teal);
}

.stats .row:nth-child(4) .badge b {
  color: var(--Cobalt-blue);
}

.stats .row p {
  font-size: 1rem;
  color: gray;
}

.stats .row b {
  color: black;
}

.button {
  margin-top: auto;
  border: none;
  padding: 1rem;
  border-radius: 2rem;
  font-size: 1rem;
  color: var(--White);
  letter-spacing: 1px;
  background: var(--Dark-gray-blue);
  cursor: pointer;
}

.button:hover {
  background: linear-gradient(to bottom, var(--Light-slate-blue-background), var(--Light-royal-blue-background));
}


/* Responsive layout for mobile screens */
@media screen and (max-width:600px) {
  body {
    align-items: flex-start;
    background-color: white;
  }

  .container {
    box-shadow: none;
    flex-direction: column; /* Stacks sections vertically */
    width: 100%;
  }

  .result {
    border-radius: 0 0 1rem 1rem; /* Rounded only at bottom for mobile */
    padding: 1rem;
    width: 100%;
  }

  .result .text p {
    width: 250px;
  }

  .summary {
    padding: 1rem;
    width: 100%;
  }
}

