/* Basic Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  background: linear-gradient(135deg, #83a8df, #c3cfe2);
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.container {
  background-color: white;
  border-radius: 1rem;
  padding: 2rem;
  width: 100%;
  max-width: 800px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
}

h1 {
  text-align: center;
  margin-bottom: 1.2rem;
  color: #333;
  position: relative;
  padding-bottom: 0.5rem ;
}

h1::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 50%;
  height: 3px;
  background-color: #2241ca;
  border-radius: 2px;
}

#generate-btn {
  background: linear-gradient(45deg, #667eea, #764ba2);
  color: white;
  border: none;
  padding: 0.8rem 1.5rem;
  border-radius: 50px;
  cursor: pointer;
  font-weight: 600;
  margin-bottom: 2rem;
  font-size: 1rem;
}

#generate-btn:hover {
  transform: translateY(-1px);
  box-shadow: 0 6px 10px rgba(102. 126, 234, 0.3);
}

#generate-btn:active {
  transform: translateY(0);
}

.palette-container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
}

.color-box {
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease;
}

.color-box:hover {
  transform: translateY(-5px);
}

.color {
  height: 120px;
  cursor: pointer;
}

.color-info {
  background-color: white;
  padding: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: .9rem;
}

.hex-value {
  font-weight: 500;
  letter-spacing: 0.5px;
}

.copy-btn {
  cursor: pointer;
  color: hsl(0, 3%, 29%);
  transition: all 0.3s ease;
}

.copy-btn:hover {
  color: hsl(0, 3%, 49%);
}


@media  (max-width: 768px) {
  .palette-container {
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .color {
    height: 110px;
}
}